<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>SamochodFormatServlet</servlet-name>
        <servlet-class>Servlety.SamochodFormatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SamochodFormatServlet</servlet-name>
        <url-pattern>/samoch-form</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RezultatSamochodServlet</servlet-name>
        <servlet-class>Servlety.RezultatSamochodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RezultatSamochodServlet</servlet-name>
        <url-pattern>/rezultatsamoch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WyszukajSamochodServlet</servlet-name>
        <servlet-class>Servlety.WyszukajSamochodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WyszukajSamochodServlet</servlet-name>
        <url-pattern>/szuksamoch</url-pattern>
    </servlet-mapping>

</web-app>
